/* Navbar styles */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  z-index: 6;
}

.brand {
  color: black;
  font-size: 20px;
  font-weight: bold;
  flex-grow: 1;
}

.search-icon {
  margin-right: 10px;
  cursor: pointer;
}

.input-container {
  margin-top: 30px;
  flex-grow: 1;
}



.search-icon {
  margin-right: 10px;
  cursor: pointer;
}

.input-container {
  flex-grow: 1;
}

/* Container styles */
.container {
  padding-top: 60px; /* Adjust according to navbar height */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.user-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.user-card {
  margin: 10px;
  width: 300px;
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar {
  width: 40px;
  height: 40px;
  background-size:cover;
  border-radius: 50%;
}

.no-results {
  text-align: center;
  padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .user-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .user-card {
    width: calc(100% - 20px);
  }
}
